@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Displacdcdcdy:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');/*공통*/

/*color-set*/
:root {
  --color-wild-sand:#F4F4F4;
  --color-black:  #000000;
  --color-tundora: #444444;
  --color-alto:  #dddddd;
  --color-silver-chalice: #aaaaaa;
  --color-gray: #8A8A8A;
  --color-silver : #cdcdcd; /*placeholder*/
  --element-back-color: red;
  --color-persian-pink:#F87BCD;
  --color-soft-peach: #efe5e8;
  --color-cararra: #e8e7e0;
}

* {
  font-family: "georgia",'Noto Sans Display','Noto Serif KR', serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
}

select {
  width: 100px;
  padding: .2em .2em; 
  font-family: inherit;
  font-size: inherit;
  border:1px solid  inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}

select::-ms-expand { 
  display: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body {
  background-color: var(--color-wild-sand);
  width: 90%;
  height: 100%;
  margin: 0 5%;
  color: var(--color-gray);
}

[contenteditable="true"]:focus {
  outline: none;
}
[contenteditable=true]:empty:not(:focus):before{
  content: attr(placeholder);
  pointer-events: none;
  color: var(--color-silver);
}

.inline{
  display: inline;
}

/* header*/
.header {
  width: 100%;
  margin: 0 0;
  padding-top: 20px;
  position: relative;
}
.header__button{
  border: none ;
  width: 55px;
  height: 30px;
  background-color: var(--color-cararra);
  color: var(--color-gray);
  border-radius: 10px;
  position: absolute;
  right: 70px;
  font-weight: 600;
  cursor:pointer;
}
.header__save{
  right: 130px;
}

/* switch-button 다크/라이트 모드 */
.switch-button { 
  right: 0px;
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 30px;
}
.switch-button input{ 
  opacity: 0;
  width: 0;
  height: 0;
} .switch-button__onoff { 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:20px;
  background-color: #FEED30;
  box-shadow: inset 1px 5px 1px #E3AE56; 
  -webkit-transition: .4s;
  transition: .4s;
} .switch-button__onoff:before { 
  position: absolute;
  content: "";
  height: 22px;
  width: 22px; left: 4px; bottom: 4px; background-color: #fff; -webkit-transition: .5s;
  transition: .4s; border-radius:20px; 
} .switch-button input:checked + .switch-button__onoff {
  background-color: var(--color-alto);
  box-shadow: inset 1px 5px 1px  var(--color-silver-chalice);
} .switch-button input:checked + .switch-button__onoff:before { 
  -webkit-transform: translateX(26px); 
  -ms-transform: translateX(26px);
  transform: translateX(26px); 
}

/*main-page*/

/* main header  color: var(--color-gray);*/
.main-header__title{
  display: inline;
  cursor: pointer;
  color: var(--color-tundora);
}

.grid-container {
  display: grid;
  grid-template-areas:
  "search search"
  "book-journal-list side-filter";
  grid-template-columns: 1fr 350px;
  grid-template-rows: 80px 1fr;
  /*max-width: 1600px;*/
  margin: 0 auto;
}
/*search*/
.search {
  margin-top: 20px;
  grid-area: search;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 40px;
  left: 0%;
  top: 0%;
  background: var(--color-wild-sand);
  box-sizing: border-box;
  box-shadow: inset -6px -6px 15px rgba(255, 255, 255, 0.78), inset 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
}
.search__icon {
  position: absolute; top: 50%;
  transform: translate( 50% ,-50%);
}
.search__icon img {
  width: 70%;
  height: auto;
}
.search__input {
  top: 50%;
  transform: translate( 0% ,-50%);
  position: absolute;
  left: 15%;
  width: 75%;
  border:none;
  outline:none;
  background: transparent;
  font-size: 20px;
  height: 80%;
  color: var(--color-gray);
}

/* book-journal-list css */
.book-journal-list {

  grid-area: book-journal-list;
  position: relative;
  height: 500px;
  width: 100%;
}
.book-journal-list__card {
  cursor: pointer;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;
  height: 150px;
  width: 90%;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.book-journal-list__date{
  position: absolute;
  top: 5px;
  right: 15px;
  color: var(--color-silver);
}
.book-journal-list__img{
  position: absolute;
  top: 50%;
  transform: translate( 0 ,-50%);
  left: 20px;
  width: 100px;
  aspect-ratio: 1 / 1.3;
}
.book-journal-list__content{
  position: absolute;
  width: 80%;
  height: 100%;
  left: 130px;
} 
.book-journal-list__title{
  color: var(--color-gray);
}
.book-journal-list__title--matched{
  color: var(--color-tundora);
}
.book-journal-list__review{
  font-size: 16px;
  color: var(--color-silver);
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /* 말줄임 적용 */
}
.book-journal-list__tag{
  position: absolute;
  font-size: 12px;
  color: var(--color-gray);
  bottom: 10px;
} 
/*클래스 분리 필요, 원형은 like-button 으로*/
/*.like-button{}*/
.book-journal-list__like{
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  right: 15px;
  bottom: 15px;
  width: 85px;
  height: 85px;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 66px;
  display: block;

}
.book-journal-list__like img{
  margin-top: 20px;
  width: 30%;

  display: inline-block;
}
.book-journal-list__like span{
  width: 30%;
  display: inline-block;
  color:  var(--color-persian-pink)
}

/*side-filter*/
.side-filter {
  font-size: 15px;
  grid-area: side-filter;
  min-height:200px;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.side-filter__button{
  cursor: pointer;
  color: var(--color-gray);
  height: 35px;
  position: relative;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 2px;
}
.side-filter__button span{
  top: 50%;
  transform: translate( 0 ,-50%);
}
.side-filter__button .side-filter__name{
  position: absolute;
  left: 5px;
}
.side-filter__button .side-filter__count{
  position: absolute;
  right: 5px;
}

.side-filter__button:hover .side-filter__name{
  text-decoration: underline;
}

.side-filter__button--selected{
  background-color:  var(--color-alto);
  box-shadow: inset 1px 3px 1px  var(--color-silver-chalice);
}

.side-filter__genre .side-filter__button{
  width: 40%;
  margin-right: 2px;
}

.side-filter__year .side-filter__button{
  width: 80%;
}

.side-filter__sort .side-filter__button{
  width: 80%;
}

.side-filter__sort{
  padding-bottom: 30px;
}

.side-filter__tag .side-filter__button{
  display: inline-block;
  padding: 4px 8px;
  height:20px;
}

.tag {
  cursor: pointer;
  color: var(--color-gray);
  height: 35px;
  position: relative;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: inline-block;
  padding: 4px 8px;
  font-size: 15px;
  height:20px;
}.tag span{
  top: 50%;
  transform: translate( 0 ,-50%);
}.tag--selected{
  background-color:  var(--color-alto);
  box-shadow: inset 1px 3px 1px  var(--color-silver-chalice);
}
/* book journal page*/
.book-journal-header__back{
  color: var(--color-tundora);
  display: inline;
  font-weight: 600;
  cursor: pointer;
}

/* book journal detail*/
.book-detail {
  margin-bottom: 15px;
  position: relative;
  height: 150px;
  width: 100%;
}
.book-detail__cover{
  display: inline;
  position: absolute;
  top: 50%;
  transform: translate( 0 ,-50%);
  width: 100px;
  aspect-ratio: 1 / 1.3;
}
.book-detail__text{
  color: var(--color-gray);
} 
.book-detail__title{
  margin: 11px 0px 6px 0px;
  height: 40px;
} 
.book-detail__content{
  position: absolute;
  left: 110px;
} 
/*공통*/
.long-card {
  box-sizing: border-box;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
/*Review*/
.book-review {
  width: 100%;

  margin-bottom: 20px;
}
.book-review__content {
  width: 100%;
  min-height: 100px;
  padding: 10px 20px;
}
/*Quote*/
.book-quote  {
  width: 100%;
  margin-bottom: 20px;
}

.book-quote__scrap {
  width: 100%;
  min-height: 500px;
  position: relative;
  padding: 30px 0;
}
.book-quote__content {
  margin: auto;
  position: relative;
  width: 85%;
  border-radius: 10px;
  margin-bottom: 40px;
}
.book-quote__content .book-quote__text {
  min-height: 150px;
  background-color:  var(--color-soft-peach);
  width: 100%;
  margin: 0;
}
.book-quote__content span {
  display: inline;
  color: var(--color-silver);
}
.book-quote__delete{
  cursor: pointer;
  color: var(--color-silver);
  width: 50px;
  text-align: center;
  position: absolute;
  right: 5px;
  display: inline;
}
.book-quote__delete img{
  width: 15px;
}
.book-quote__button {
  cursor: pointer;
  right: 30px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: var(--color-wild-sand);
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78), 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 66px;
  position: absolute;
  border: none;
}
.book-quote__button img{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
}
.book-quote__list {
  margin-top: 50px;
}

